<!DOCTYPE html>
<html>
<head>
  <title>SDL Downloads</title>
</head>

<body>
  <div>
    <h1>SDL Downloads</h1>
    <p><a href='/download/'>Home</a></p>
    <b>Content:</b>
    <ul>
      {% for folder in folders %}
        <li><a href='/download/{{ folder }}/'>{{ folder }}/</a></li>
      {% endfor %}
      {% for file in files %}
        <li><a href='/file/{{ file }}'>{{ file }}</a></li>
      {% endfor %}
    </ul>
    <p><a href='/zipped/{{ dir }}'>Download Zip</a></p>
  </div>
</body>
</html>
