<!DOCTYPE html>
<html>
<head>
  <title>Social Decision Lab</title>
</head>
<style>
.centered{
  font-family: helvetica;
  width:600px;
  margin: 100px auto ;
}
</style>
<body>
<div class="centered">
  <p><i>Social Decision Lab</i></p>
  {% if state=='invalid' %}
    <p>URL parameters invalid</p>
  {% elif state=='incomplete' %}
    <p>User data not complete.</p>
  {% elif state=='nofolder' %}
    <p>Folder does not exist.</p>
  {% else %}
    <h3>Your Final Payment (Partcipant Code {{ uid }}):</h3>
    <p>Your payment from part 1 is: </p>
    <p>CHF {{ part1Self }} for Business<br/>
      CHF {{ part1Charity }} for Society</p>
    <p>Your payment from part 2 is: </p>
    <p>CHF {{ part2Self }} for Business<br/>
      CHF {{ part2Charity }} for Society</p>
    <p>You have earned a total amount of: </p>
    <p>CHF {{ finalSelf }} for Business<br/>
      CHF {{ finalCharity }} for Society.</p>
    <p>You receive CHF {{ finalSelf }} and CHF {{ finalCharity }} will be donated by bank to following charity:<br/>
      {{ selectedCharity }}</p>
    <p><b>Thank you for your particpation.</b></p>
  {% endif %}
</div>
</body>
</html>
